* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

body {
  font-size: 14px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #444;
  color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container {
  margin: auto;
}

.screen {
  margin: 30px auto;
  width: 600px;
  height: 400px;
}

.controls {
  display: grid;
  grid-template-columns: 100px repeat(3, 1fr);
  grid-template-rows: repeat(3, 30px);
  row-gap: 10px;
  column-gap: 2px;

  width: 600px;
  margin: 0 auto;

  & > * {
    cursor: pointer;
  }

  .h,
  .b,
  .s {
    align-self: center;
  }
}
